<ul class="dinos">
    <% dinosaurs.forEach(dino=> { %>
        <li class="<% if(dino.isHerbivore === true) {%>
                green
                <% }else { %> red
                <% }%>">

            <img src="/assets/images/<%- dino.image %>" alt="<%- dino.name %>">
            <%- dino.name %>
        </li>

        <% }); %>
</ul>